<%-   include('partials/header'); -%>
<div class="container text-center edit-form">
        <h1>
            Edit <%=campground.name%>
        </h1>
        <div class="mt-5">
            <form class="form" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="campground[name]" value="<%=campground.name%>">
                </div>
                <div class="form-group">
                    <input type="text" name="campground[image]" class="form-control" value="<%=campground.image%>">
                </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="campground[description]" value="<%=campground.description%>">
                        </div>
                    <br>
                        <button class="btn btn-lg btn-block btn-primary pl-3">
                    Submit
                </button>
                        <br><br>
                        <a href="/campgrounds/<%=campground._id%>" class="text-primary">Go back</a>
            </form>
        </div>
</div>
	


<%- include('partials/footer'); -%>